p {
    color: #cd8823;
}

.jumbotron {
    margin-bottom: 0px;

}

.fortniteNews {
    padding: .5em;
    .newsText {
        margin-left: 1em;
    }
}

.fortniteStore {
    .card {
    background: transparent;
    }
}

.main-content {
    background-color: rgb(179, 179, 179);
}